<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<style>
	.linkNav {
		text-decoration: none;
	}
	
	.ulNav {
		padding-left: 15px;
	}

	.liNav {
		display: inline;
		font: bold 12px;
		border-left: 2px solid #afafc7;
		padding-left: 10px;
		padding-right: 6px;
	}

	.liNav:first-child {
		border-left: none;
	}	

	.selectNav {
		color: #5f7caf;
	}

	.unselect {
		color: #bababf;
	}

	.unselect:hover {
		color: #5f7caf;
		border-bottom: 1px solid #5f7caf;
		text-decoration: none;
	}
</style>
<link rel="stylesheet" th:href="@{/style/list.css}" type="text/css" />
<meta charset="UTF-8">
<title>공구 리스트</title>
</head>
<body>
<div th:insert="~{thyme/header}"></div>
<div id="out">
	<div class="element">
		<h4>공구 리스트</h4>
	</div>
	<div class="element">
		<nav>
			<ul class="ulNav">
				<li class="liNav"><a class="linkNav" style="color: #5f7caf;">등록한 공구</a></li>
				<li class="liNav"><a class="linkNav unselect" href="#" th:href="@{/user/my/gp/join/list}">참가한 공구</a></li>
			</ul>
		</nav>
	</div>
	<div class="element">
		<div class="one" th:each="gp : ${gpList}">
			<div class="element image_view">
				<img class="image" src="#" th:src="@{${gp.image}}"/>
			</div>
			<div class="element title">
				<h5><a class="linkTitle" th:text="${gp.title}" href="#" th:href="@{/user/my/gp/info(gpId=${gp.gpId})}">제목</a></h5>
			</div>
			<div class="element" style="width:60px;"></div>
			<div class="element">
				<div class="element" style="height:40px;"></div>
				<div class="element" th:if="${#lists.isEmpty(gp.joinList)}">
					<form action="#" method="GET" th:action="@{/gp/delete}">
						<input type="hidden" id="gpId" name="gpId" th:value="${gp.gpId}" />
						<input class="btnDelete" type="submit" value="삭제" />
						<!-- <input class="btn btn-danger" type="submit" value="삭제" /> -->
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>