<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" th:href="@{/style/list.css}" type="text/css" />
<meta charset="UTF-8">
<title>공구 리스트</title>
</head>
<body>
<div th:insert="~{thyme/header}"></div>
<div id="out">
	<div class="lnb" style="float:left;">
		<div>
			<div style="padding-bottom: 10px;">
				<h2 style="line-height: 34px; color: #222222;">내 정보</h2>
			</div>
			<ul class="list-group">
				<li class="list-group-item"><a th:href="@{/user/my}">내 정보 관리</a></li>
				<li class="list-group-item"><a th:href="@{/user/my/sale/list/product}">중고거래 관리</a></li>
				<li class="list-group-item active"><a>공동구매 관리</a></li>
				<li class="list-group-item"><a th:href="@{/user/my/wish/view}">위시리스트 모아보기</a></li>
			</ul>
		</div>
	</div>
		
	<div style="display:inline-block; width: 70%; margin-left: 5%;">
		<div class="element">
			<h4>공구 리스트</h4>
		</div>
		<div class="element">
			<nav>
				<ul class="ulNav">
					<li class="liNav"><a class="linkNav" style="color: #5f7caf;">등록한 공구</a></li>
					<li class="liNav"><a class="linkNav unselect" th:href="@{/user/my/gp/join/list}">참가한 공구</a></li>
				</ul>
			</nav>
		</div>
		<div class="element">
			<div class="one" th:each="gp : ${gpList}">
				<div class="image_view">
					<img class="image" src="#" th:src="@{${gp.image}}"/>
				</div>
				<div class="element title">
					<h5><a class="linkTitle" th:text="${gp.title}" href="#" th:href="@{/user/my/gp/info(gpId=${gp.gpId})}">제목</a></h5>
				</div>
				<div class="btnView">
					<div th:if="${#lists.isEmpty(gp.joinList)}">
						<form action="#" method="GET" th:action="@{/gp/delete}">
							<input type="hidden" id="gpId" name="gpId" th:value="${gp.gpId}" />
							<input class="btnDelete" type="submit" value="&#215;" />
						</form>
					</div>
				</div>
			</div>
			
			<div class="element" th:if="${#lists.isEmpty(gpList)}">
				<div class="element" style="height: 40px;"></div>
				<div class="element" style="text-align: center;">
					<a>아직 등록한 공동구매 내역이 없습니다.<br></a>
					<button class="hButton" style="margin-top: 5%;"
						onclick="location.href ='/gp/register'">공동구매 등록하기</button>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>