<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" th:href="@{/style/list.css}" type="text/css" />
<meta charset="UTF-8">
<title>위시리스트</title>
</head>
<body>
<div th:insert="~{thyme/header}"></div>
<div id="out">
	<div class="row">
		<h3>관심 공구 리스트</h3>
	</div>
	<div class="element" style="height:10px"></div>
	<div class="element">
		<div class="one" th:each="wish : ${wishGpList}"> 
			<div class="element image_view">
				<img class="image" src="#" th:src="@{${wish.gp.image}}"/>
			</div>
			<div class="element title">
				<h5><a class="linkTitle" th:text="${wish.gp.title}" href="#" th:href="@{/user/my/gp/info(gpId=${wish.gp.gpId})}">제목</a></h5>
			</div>
			<div class="element" style="width:60px;"></div>
			<div class="element">
				<div class="element" style="height:40px;"></div>
				<div class="element">
					<form action="#" method="GET" th:action="@{/user/my/wish/gp/delete}">
						<input type="hidden" id="gpId" name="gpId" th:value="${wish.gp.gpId}" />
						<input type="hidden" id="view" name="view" value="list" />
						<input class="btnDelete" type="submit" value="삭제" />
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>