<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" th:href="@{/style/loginForm.css}" type="text/css" />
<meta charset="UTF-8">
<title>구매 완료</title>
</head>
<body>
<div th:insert="~{thyme/header}"></div>
	<div class="container" style="width: 40%;">
		<div>
			<h1>구매 완료</h1>
				<div th:if="${userSession}">
					<p>구매 폼을 성공적으로 등록했습니다.</p>
					<a th:href="@{/user/my/purchase/list}"> 
						<input class="btn" type="button" value="내 구매 내역 보기"></a>
				</div>
				<div th:unless="${userSession}">
					<p>오류가 발생했습니다. 다시 시도해주세요.</p>
					<a th:href="@{/main}"> 
						<input class="btn" type="button" value="홈으로"></a>
				</div>
				<br>
		</div>
	</div>

</body>
</html>