@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');

* {
	font-family: 'Nanum Gothic', sans-serif;
}

body {
	background-color: #f2eee5;
}

/*�쇊履�, 以묒븰, �삤瑜몄そ �젙�젹 �냽�꽦*/

.txLeft {
	text-align:left;
}
.txCenter {
	text-align:center;
}
.txRight {
	text-align:right;
}

/*�룿�듃 媛뺤“*/
.redFont {
	color: red !important;
}

/*�옄二� �벐�뒗 �깋�긽*/
.color_beige {
	color: #f2eee5;
}

.color_purple { /*吏꾨낫�씪*/
	color: #5f7caf; 
}

.color_lavender { /*�뿰蹂대씪*/
	color: #afafc7;
}

.color_pink { /*吏꾨텇�솉*/
	color: #ccabaf;
}

.color_grey { /*�쉶�깋*/
	color: #bababf;
}

/*踰꾪듉 遺��듃 �뒪�듃�옪1*/
/*<p> - <a> �닚�꽌濡� �깮�꽦�븯怨� �겢�옒�뒪 �쟻�슜*/

.transitionalButton { /*媛��옣 諛붽묑 <p>�뿉 �씠 �겢�옒�뒪 �쟻�슜*/
	font-weight: bold;
	font-size: 14px;
	text-align: center;
}

p > a { /*transitionalButton �븞�쓽 <a> �깭洹� �냽�꽦. <a> �븯�굹媛� 踰꾪듉 �뿭�븷�쓣 �븿*/
	-webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	display: block;
	margin: 20px auto;
	max-width: 180px;
	text-decoration: none;
	border-radius: 4px;
	padding: 20px 30px;
}

a.tButton { /*留덉슦�뒪 �삤踰� �븷�땲硫붿씠�뀡�쓣 �옱�쁽�븯�뒗 tButton �겢�옒�뒪�뱾. <a>�뿉 �쟻�슜�빀�땲�떎.*/
	color: rgba(175, 175, 199, 1.0);
	box-shadow: rgba(175, 175, 199, 0.4) 0 0px 0px 2px inset;
}

a.tButton:hover {
	color: rgba(255, 255, 255, 0.85);
	box-shadow: rgba(30, 22, 54, 0.7) 0 0px 0px 40px inset;
}

a.tButton2 {
	color: rgba(30, 22, 54, 0.6);
	box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
}

a.tButton2:hover {
	color: rgba(255, 255, 255, 0.85);
	box-shadow: rgba(30, 22, 54, 0.7) 0 80px 0px 2px inset;
}

/*踰꾪듉 遺��듃 �뒪�듃�옪2*/
/*<Button> �깭洹몄뿉 .hButton �겢�옒�뒪留� �쟻�슜�븯硫� �셿猷�*/

.hButton{
  background:#ccabaf;
  color:#fff;
  border:none;
  position:relative;
  height:60px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}

.hButton:hover{
  background:#f2eee5;
  color:#5f7caf;
}

.hButton:before,.hButton:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #5f7caf;
  transition:400ms ease all;
}

.hButton:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}

.hButton:hover:before,.hButton:hover:after{
  width:100%;
  transition:800ms ease all;
}
