@charset "UTF-8";

	#out {
		width: 1000px;
		margin-left: auto;
		margin-right: auto;
	}
	
	.element {
		margin: 10px;
	}
	
	.one {
		border: 1px solid #afafc7;
		height: 110px;
		display: flex;
		margin: 3px;
		border-radius: 5px;
	}
	
	.image_view {
		height: 98px;
		width: 98px;
		margin: 5px;
	}
	
	.image {
		height: 100%;
		width: 100%;
	}
	
	.title {
		padding-top: 30px;
		padding-left: 10px;
		width: 70%;
	}
	
	.btnView {
		width: 10%;
		text-align: right;
	}

	.btnDelete {
		background: none;
    	font-size: 20px;
    	color: #ccabaf;
    	border: none;
    }
    
    .btnDelete:hover {
    	font-weight: bold;
    }
    
	.linkTitle {
		text-decoration: none;
		color: black;
	}

	.linkTitle:hover {
		color: #afafc7;
		text-decoration: none;
	}
	
	.linkNav {
		text-decoration: none;
	}
	
	.ulNav {
		padding-left: 8px;
	}

	.liNav {
		display: inline;
		font: bold 12px;
		border-left: 2px solid #afafc7;
		padding-left: 10px;
		padding-right: 6px;
	}

	.liNav:first-child {
		border-left: none;
	}	

	.selectNav {
		color: #5f7caf;
	}

	.unselect {
		color: #bababf;
	}

	.unselect:hover {
		color: #5f7caf;
		border-bottom: 1px solid #5f7caf;
		text-decoration: none;
	}
	