<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" th:href="@{/style/list.css}" type="text/css" />
<meta charset="UTF-8">
<title>공구 리스트</title>
</head>
<body>
<div th:insert="~{thyme/header}"></div>
<script>
	function deleteAlert() {
		if(confirm("정말로 삭제하시겠습니까?\n삭제 후 복구할 수 없습니다.")){
			return true;
		}
		else return false;
	}
</script>
<div id="out">
	<div class="lnb" style="float: left;">
		<div>
			<div style="padding-bottom: 10px;">
				<h2 style="line-height: 34px; color: #222222;">내 정보</h2>
			</div>
			<ul class="list-group">
				<li class="list-group-item"><a th:href="@{/user/my}">내 정보 관리</a></li>
				<li class="list-group-item"><a th:href="@{/user/my/sale/list}">중고거래 관리</a></li>
				<li class="list-group-item active"><a>공동구매 관리</a></li>
				<li class="list-group-item"><a th:href="@{/user/my/wish/product/list}">위시리스트 모아보기</a></li>
			</ul>
		</div>
	</div>

	<div style="display:inline-block; width: 70%; margin-left: 5%;">
		<div class="element">
			<h3 style="padding-bottom: 10px; line-height: 34px; border-bottom: 2px solid;">공구 리스트</h3>
		</div>
		<div class="element">
			<nav>
				<ul class="ulNav">
					<li class="liNav"><a class="link unselect" href="#"
							th:href="@{/user/my/gp/list}">등록한 공구</a></li>
					<li class="liNav"><a class="linkNav" style="color: #5f7caf;">참가한 공구</a></li>
				</ul>
			</nav>
		</div>
		<div class="element">
			<div class="one" th:each="join : ${joinList}">
				<div class="image_view">
					<div th:unless="${join.groupPurchase.image == null}">
						<img class="image" th:src="@{${join.groupPurchase.image}}" />
					</div>
					<div th:if="${join.groupPurchase.image == null}">
						<img class="image" th:src="@{/images/purchase/noImage.png}">
					</div>
				</div>
				<div class="element title">
					<h5>
						<a class="linkTitle" th:text="${join.groupPurchase.title}"
							href="#"
							th:href="@{/join/info/{joinId}(joinId=${join.joinId})}">제목</a>
					</h5>
				</div>
				<div class="btnView" style="width:15%;">
					<div th:if="${join.status <= 1}"> 
						<form action="#" method="GET" th:action="@{/join/delete/{joinId}(joinId=${join.joinId})}">
							<input type="hidden" id="joinId" name="joinId" th:value="${join.joinId}" />
							<input class="btnDelete" type="submit" value="&#215;" onClick="return deleteAlert();" />
						</form>
					</div>
					<div th:unless="${join.status <= 1}">
						<div class="element" style="text-align: center;">
							<a style="font-size: 12px">주최자가 폼을<br>확인했습니다</a>
						</div>
					</div>
				</div>
			</div>

			<div class="element" th:if="${#lists.isEmpty(joinList)}">
				<div class="element" style="height: 40px;"></div>
				<div class="element" style="text-align: center;">
					<a>아직 참여한 공동구매 내역이 없습니다.<br></a>
					<button class="hButton" style="margin-top: 5%;"
						onclick="location.href ='/main/gp'">공동구매 둘러보기</button>
				</div>
			</div>
		</div>
	</div>
	</div>
</body>
</html>