<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<style>
	.linkNav {
		text-decoration: none;
	}
	
	.ulNav {
		padding-left: 15px;
	}

	.liNav {
		display: inline;
		font: bold 12px;
		border-left: 2px solid #afafc7;
		padding-left: 10px;
		padding-right: 6px;
	}

	.liNav:first-child {
		border-left: none;
	}	

	.selectNav {
		color: #5f7caf;
	}

	.unselect {
		color: #bababf;
	}

	.unselect:hover {
		color: #5f7caf;
		border-bottom: 1px solid #5f7caf;
		text-decoration: none;
	}
	
</style>
<link rel="stylesheet" th:href="@{/style/list.css}" type="text/css" />
<meta charset="UTF-8">
<title>마이페이지</title>
</head>

<script>
	function deleteAlert() {
		if(confirm("정말로 탈퇴하시겠습니까?\n탈퇴 후 회원정보는 복구할 수 없습니다.")){
			return true;
		}
		else
			return false;
	}
</script>

<body>
<div th:insert="~{thyme/header}"></div>
<div id="out">
	<div class="element">
		<div class="lnb" style="float:left;">
			<div>
				<div style="padding-bottom: 10px;">
					<h2 style="line-height: 34px; color: #222222;">내 정보</h2>
				</div>
				<ul class="list-group">
					<li class="list-group-item active"><a>내 정보 관리</a></li>
					<li class="list-group-item"><a th:href="@{/user/my/sale/list}">중고거래 관리</a></li>
					<li class="list-group-item"><a th:href="@{/user/my/gp/list}">공동구매 관리</a></li>
					<li class="list-group-item"><a th:href="@{/user/my/wish/product/list}">위시리스트 모아보기</a></li>
				</ul>
			</div>
		</div>
		<div class="container" style="display:inline-block; width: 70%; margin-left: 5%;">
			<h3 style="padding-bottom: 10px; line-height: 34px; border-bottom: 2px solid;">회원정보 수정</h3>
			
		    <form role="form" th:object="${accountForm}" th:action="@{/user/my/update}" method="post"> 
			    <div class="form-group">
			        <label th:for="userId">아이디</label>
			        <input type="text" th:field="${accountForm.account.userId}" class="form-control" readonly>
			    </div>
			    <br>
			        
			    <div class="form-group">
			        <label th:for="password">비밀번호</label>
			        <a th:href="@{/user/my/find/password}"><input class="btn" onClick="" value="비밀번호 수정하기"></a>
			    </div>
			    <br>
		        <div class="form-group">
		            <label th:for="userName">닉네임</label>
		            <br>
		            <input type="text" th:field="*{account.userName}" class="form-control" placeholder="이름을 입력해주세요">
		            <p style="color:red;" th:each="err : ${#fields.errors('account.userName')}" th:text="${err}"></p>
		        </div>
		        <br>
		        
		        <div class="form-group">
		            <label th:for="address">주소</label>
		            <br>
		            <input type="text" th:field="*{account.address}" class="form-control" placeholder="주소를 입력해주세요">
		            <p style="color:red;" th:each="err : ${#fields.errors('account.address')}" th:text="${err}"></p>
		        </div>
		        
		        <div class="form-group">
		            <label th:for="zipcode">우편번호</label>
		            <br>
		            <input type="text" th:field="*{account.zipcode}" class="form-control" placeholder="우편번호를 입력해주세요">
		            <p style="color:red;" th:each="err : ${#fields.errors('account.zipcode')}" th:text="${err}"></p>
		        </div>
		        
		        <br>
		        <div class="form-group">
		            <label th:for="phone">휴대폰 번호</label>
		            <br>
		            <input type="text" th:field="*{account.phone}" class="form-control" placeholder="번호를 입력하세요">
		            <p style="color:red;" th:each="err : ${#fields.errors('account.phone')}" th:text="${err}"></p>
		        </div>
		        <br>
		        
		        <div class="form-group">
		            <label th:for="phone">이메일</label>
		            <br>
		            <input type="text" th:field="*{account.email}" class="form-control" placeholder="이메일 주소를 입력하세요">
		            <p style="color:red;" th:each="err : ${#fields.errors('account.email')}" th:text="${err}"></p>
		        </div>
		        <br>
		        <input class="btn" type="submit" onClick="" value="회원정보 수정">
		    </form>
		    <br><br>
		    <a th:href="@{/user/my/drop}">
		    	<input class="btn btn-danger" type="button" onClick="return deleteAlert();" value="회원 탈퇴"></a>
		</div>
	</div>
</div>
</body>
</html>