<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" th:href="@{/style/loginForm.css}" type="text/css" />
<meta charset="UTF-8">
<title>로그인</title>
</head>
<body>
<div th:insert="~{thyme/header}"></div>
	<div class="container" style="width: 40%;">
		<div>
			<h1>login</h1>
			<form th:action="@{/user/login}" name="loginForm" method="post">
				<div class="form-group">
					<input type="text" name="userId" class="form-control" placeholder="아이디">
				</div>
				<br>
				<div class="form-group">
					<input type="password" name="password" class="form-control" placeholder="비밀번호">
				</div>
				<br>
				<div class="form-group">
					<a th:href="@{/user/register}"><input class="btn" type="button" value="회원가입"></a>
					<a th:href="@{/user/findIdForm}"><input class="btn" type="button" value="아이디 찾기"></a>
					<a th:href="@{/user/findPwForm}"><input class="btn" type="button" value="비밀번호 찾기"></a>
				</div>
				<br>
				<div class="form-group">
					<input class="btn" type="submit" value="로그인">
				</div>
				<br>
			</form>
		</div>
	</div>

</body>
</html>