<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" th:href="@{/style/loginForm.css}" type="text/css" />
<meta charset="UTF-8">
<title>로그인</title>
</head>
<body>
<div th:insert="~{thyme/header}"></div>
	<div class="container" style="width: 40%;">
		<div>
			<h1>비밀번호 변경</h1>
				<div th:if="${newAccountForm}"> <!-- 마이페이지의 버튼과도 연동되어야 함 -->
					<p>비밀번호를 새로 설정해주세요.</p>
					<input type="password" th:field="${newAccountForm.account.password}" class="form-control" placeholder="비밀번호">
		            <br>
		            <input type="password" th:field="${newAccountForm.repeatedPassword}" class="form-control" placeholder="비밀번호 확인">
					<br>
					<a th:href="@{/user/update/password}"> 
						<input class="btn" type="button" value="비밀번호 변경"></a>
				</div>
				<div th:unless="${newAccountForm}">
					<p>입력하신 정보로 조회된 결과가 없습니다.</p>
					<a th:href="@{/user/findPwForm}"> 
						<input class="btn" type="button" value="이전 페이지로"></a>
				</div>
				<br>
		</div>
	</div>

</body>
</html>