<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" th:href="@{/style/loginForm.css}" type="text/css" />
<meta charset="UTF-8">
<title>비밀번호 변경</title>
</head>

<body>
<div th:insert="~{thyme/header}"></div>
	<script>
		function confirmPassword(){
			if($("#pw").val() != $("#repeatedPw").val()) {
				$("#confirm").show();
			}
			else $("#confirm").hide();
		}
	</script>
	<div class="container" style="width: 40%;">
		<div>
			<h1>비밀번호 변경</h1>
				<div th:if="${searchResult}">
					<form th:action="@{/user/my/update/password}" method="post">
					<p>비밀번호를 새로 설정해주세요.</p>
					<input id="pw" type="password" name="password"
						class="form-control" placeholder="비밀번호">
		            <br>
		            <input id="repeatedPw" type="password" onChange="confirmPassword()" 
		            	class="form-control" placeholder="비밀번호 확인">
					<br>
					<p id="confirm" style="color:red;">*비밀번호가 일치하지 않습니다.</p>
					<input class="btn" type="submit" value="비밀번호 변경">
					</form>
				</div>
				<div th:unless="${searchResult}">
					<p>입력하신 정보로 조회된 계정이 없습니다.</p>
					<a th:href="@{/user/findPwForm}"> 
						<input class="btn" type="button" value="이전 페이지로"></a>
				</div>
				<br>
		</div>
	</div>

</body>
</html>